@media screen and (max-width:380px) {
    :root {
        --dark-navy: #020c1b;
        --navy: #0a192f;
        --light-navy: #112240;
        --lightest-navy: #233554;
        --navy-shadow: rgba(2,12,27,0.7);
        --dark-slate: #495670;
        --slate: #8892b0;
        --light-slate: #a8b2d1;
        --lightest-slate: #ccd6f6;
        --white: #e6f1ff;
        --green: #64ffda;
        --green-tint: rgba(100,255,218,0.1);
        --pink: #f57dff;
        --blue: #57cbff; 
        --font-sans: 'Inter', sans-serif;
        --font-mono: 'Space Mono', monospace;
        --padding-main: 14vw;
        --fz-xxl: 2.6rem;
        --fz-xl: 2.1rem;
        --fz-l: 2rem;
        --fz-p: 1.3rem;
        --fz-s: 1rem;
    }
      .menu {
        background-color: transparent;
        display: block;
        border: none;
        position: absolute;
        right: 5%;
      }
      .line {
        fill: none;
        stroke: var(--white);
        stroke-width: 1;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
          stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
      }
      .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
      }
      .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
      }
      .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
      }
      .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
      }
      .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
      }

      header {
        height: 8vh;
        width: 100%;
        position: fixed;
        top: 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        backdrop-filter: blur(15px);
        background-color: #0a192f73;
        z-index: 100;
        transition: 500ms;
        padding: 6vh 6vw;
    }
    header img {
        width: 45px;
        opacity: 0.9;
    }
      header ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10vh;
        width: 90%;
        height: 100vh;
        justify-content: space-evenly;
        align-items: center;
        background-color: #0a192ffb;
        right: -100%;
        transition: right 1s;
        font-size: 1.4em;

       
    }
    .btn {
        text-decoration: none;
        padding: 10px 15px;
        background-color: transparent;
        color: var(--green);
        border: 2px solid var(--green);
        border-radius: 5px;
        font-family: var(--font-mono);
        font-size: var(--fz-p);
        opacity: 0.9;
        cursor: pointer;
        transition: 1s;
    }
    .menu-show {
        animation: slide 700ms forwards;
    }
    @keyframes slide {
        to {
            right: 0%;
        }
        from {
            right: -100%;
        }
    }
    .header-l {
        position: fixed;
        height: 30vh;
        width: 30px;
        font-size: var(--fz-p);
        bottom: 15vh;
        }
    .left-ul {
        display: none;
    }
    .right-ul {
        display: none;
    }
    .intro {
        height: 100vh;
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 2vh var(--padding-main) 1vh;
        padding: 18vh 0;
     }
     .intro h1 {
         font-size: 2.8rem;
         word-wrap:unset;
         width: 110%;
     }
     .intro h2 {
         font-size: 1.7rem;
     }
     .intro p {
         padding-right: 7vw;
         padding-top: 4vh;
         text-align: left;
     }
     .intro .btn {
         width: 100%;
         margin-top: 5vh;
         justify-content: flex-end;
     }
     .about {
        margin: 1vh var(--padding-main);
        height: 210vh;
        position: relative;
        
    }
    .about .line {
        width: 25%;
        left: 97%;
    }
    .contain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin: 5vh 0;
    }
    .photo:hover {
        background-color: #64ffdb00;
        transition:500ms;
     }

     .contain .red {
        width: 100%;
        text-align: center;
        padding: 5vh 0 1vh;
    }
    .tagline {
        width: 100%;
        text-align: center;
        margin: 2vh 0;
        color: var(--lightest-slate);
      font-size: var(--fz-s);
      pointer-events:none;
      cursor: none;
    } 

}