@media screen and (max-width:380px) {
    :root {
        --dark-navy: #020c1b;
        --navy: #0a192f;
        --light-navy: #112240;
        --lightest-navy: #233554;
        --navy-shadow: rgba(2,12,27,0.7);
        --dark-slate: #495670;
        --slate: #8892b0;
        --light-slate: #a8b2d1;
        --lightest-slate: #ccd6f6;
        --white: #e6f1ff;
        --green: #64ffda;
        --green-tint: rgba(100,255,218,0.1);
        --padding-main: 10vw;
        --pink: #f57dff;
        --blue: #57cbff; 
        --font-sans: 'Inter', sans-serif;
        --font-mono: 'Space Mono', monospace;
        --fz-xxl: 2.6rem;
        --fz-xl: 2.1rem;
        --fz-l: 2rem;
        --fz-p: 1.3rem;
        --fz-s: 1rem;
    }
    body {
        overflow-x: hidden;
        width: 100%;
    }
    html {
        overflow-x: hidden;
        width: 100%;
    }  
      .line {
        fill: none;
        stroke: var(--white);
        stroke-width: 1;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
          stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
      }
      .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
      }
      .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
      }
      .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
      }
      .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
      }
      .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
      }
      
      header {
        height: 5vh;
        position: fixed;
        top: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        backdrop-filter: blur(15px);
        background-color: #0a192f73;
        z-index: 100;
        transition: 500ms;
        padding: 4vh 7vw;
        width: 99vw;
        flex-direction: row-reverse;

    }
    header img {
        width: 35px;
        opacity: 0.9;
    }
      header ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 10vh;
        width: 90%;
        height: 96vh;
        justify-content: space-evenly;
        align-items: center;
        background-color: #0a192ffb;
        right: -100%;
        transition: right 1s;
        font-size: 1.4em;

       
    }
    .btn {
        text-decoration: none;
        padding: 10px 15px;
        background-color: transparent;
        color: var(--green);
        border: 2px solid var(--green);
        border-radius: 5px;
        font-family: var(--font-mono);
        font-size: var(--fz-p);
        opacity: 0.9;
        cursor: pointer;
        transition: 1s;
    }
    .menu {
        background-color: transparent;
        display: block;
        border: none;
      }
    .menu-show {
        animation: slide 700ms forwards;
    }
    @keyframes slide {
        to {
            right: 0%;
        }
        from {
            right: -100%;
        }
    }
    .header-l {
        position: fixed;
        height: 30vh;
        width: 30px;
        font-size: var(--fz-p);
        bottom: 15vh;
    }
        
    .left-ul {
       left: 2vw;
    }
    .right-ul {
        display: none;
    }
    .intro {
        height: 80vh;
        display: flex;
        flex-direction: column;
        margin: 15vh var(--padding-main) 1vh;
        line-height: 2;
        position: relative;
        padding: 5vh 2vw;
     }
     .intro h1 {
         font-size: 2.8rem;
         word-wrap:unset;
         width: 120%;
     }
     .intro h2 {
         font-size: 1.7rem;
     }
     .intro p {
         padding-right: 7vw;
         padding-top: 2vh;
         text-align: left;
         line-height: 1.2;
     }
     .intro .btn {
         width: 100%;
         margin-top: 5vh;
         justify-content: flex-end;
     }
     .about {
        margin: 1vh var(--padding-main);
        height: 195vh;
        position: relative;
        width: 85%;
        padding-left: 0.5vw;
        
    }
    .about .line {
        width: 25%;
        left: 97%;
    }
    .contain {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin: 5vh 0;
    }
    .photo:hover {
        background-color: #64ffdb00;
        transition:500ms;
     }

     .contain .red {
        width: 100%;
        text-align: center;
        padding: 5vh 0 1vh;
    }
    .tagline {
        width: 100%;
        text-align: center;
        margin: 2vh 0;
        color: var(--lightest-slate);
      font-size: var(--fz-s);
      pointer-events:none;
      cursor: none;
    } 
    /* Progreess icons */
    .progress {
        display: none;
        
      }
     .mobile-prog {
         display: flex;
         padding: 2vh var(--padding-main);
         flex-direction: column;
         justify-content: space-evenly;
         align-items: center;
         
        
     }
     .mobile-table {
         display: flex;
         flex-direction: row-reverse;
         justify-content: space-between;
         align-items: center;
         padding: 2vh 0;
         width: 80%;
     }
     .mobile-table .sub {
         font-family: var(--font-mono);
         color: var(--white);
         font-size: var(--fz-s);
         letter-spacing: 2px;
     }

    .icon {
        position: absolute;
        font-size: 2.7rem;
        animation: float infinite ease-in 2s;
        pointer-events: none;
        opacity: 0.5;
    }
    .fa-react{
        bottom: 40%;
    right: -3%;
        color: var(--light-slate);
    }
    .fa-chrome {
        top: 21%;
    right: -1%;
        color: var(--light-slate);
    }
    .fa-file-code {
        top: 0%;
    right: -15%;
        color: var(--light-slate);
    }
    .fa-css3 {
        top: -5%;
        right: 13%;
        color: var(--light-slate);
    }
    .fa-edge {
        top: -9%;
    left: 70%;
        color: var(--light-slate);
    }
    .fa-globe-americas {
        top: 45%;
        right: -1%;
        color: var(--light-slate);
    }
    .fa-wifi {
        bottom: 4%;
        left: 17%;
        color: var(--light-slate);
    }
    .fa-at {
        bottom: -16%;
    left: -3%;
        color: var(--light-slate);
    }
    .fa-hdd {
        bottom: -8%;
        left: 0%;
        color: var(--light-slate);
    }
    
    .fa-app-store {
        top: 12%;
    right: 6%;
        color: var(--light-slate);
    }
    .fa-calendar{
        top: 52%;
    left: 88%;
        color: var(--light-slate);
    
    }
    .fa-microphone {
        top: 33%;
        left: 2%;
        color: var(--light-slate);
    }
    .fa-camera {
        top: 39%;
        left: 38%;
        color: var(--light-slate);
    }
    .fa-infinity {
        top: 67%;
        left: 76%;
        color: var(--light-slate);
    }
    .fa-tv {
        bottom: 25%;
        left: 5%;
        color: var(--light-slate);
    }
    .fa-playstation {
        bottom: 1%;
        left: 7%;
        color: var(--light-slate);
    }
    .fa-google-play {
        top: -12%;
    right: 5%;
        color: var(--light-slate);
    }
    .fa-google {
        bottom: 0%;
        right: 3%;
        color: var(--light-slate);
    }
    .fa-bluetooth {
        top: 11%;
    right: -10%;
        color: var(--light-slate);
    }
    .fa-language {
        top: 26%;
    right: 85%;
        color: var(--light-slate);
    }
    .fa-youtube {
        top: 34%;
    right: -4%;
        color: var(--light-slate);
    }
    .fa-napster {
        top: 50%;
        right: 59%;
        color: var(--light-slate);
    }
    .fa-trophy {
        top: 56%;
    left: 97%;
        color: var(--light-slate);
    }
    .fa-paypal {
        top: 66%;
    right: 88%;
        color: var(--light-slate);
    }
    .fa-paper-plane {
        top: 80%;
        right: 64%;
        color: var(--light-slate);
    }
    .fa-spotify {
        top: 71%;
        right: -6%;
        color: var(--light-slate);
    }
    .fa-bell {
        bottom: -4%;
        right: 2%;
        color: var(--light-slate);
    }
    .fa-broadcast-tower {
        bottom: 3%;
    left: 57%;
        color: var(--light-slate);
    }
    .fa-inbox {
        top: 31%;
        right: 88%;
        color: var(--light-slate);
    }
    .fa-envelope-open-text {
        top: 69%;
        right: -15%;
        color: var(--light-slate);
    }
    .fa-voicemail {
        top: 32%;
        right: 19%;
        color: var(--light-slate);
    }
    .fa-address-book {
        top: 102%;
        right: 85%;
        color: var(--light-slate);
    }
    .fa-address-card {
        top: 106%;
    right: -2%;
        color: var(--light-slate);
    }
    .fa-fax {
        top: 22%;
    right: -8%;
        color: var(--light-slate);
    }
    .fa-lightbulb {
        top: 56%;
    left: -2%;
        color: var(--light-slate);
    }
    .fa-comment {
        top: -1%;
        left: 3%;
        color: var(--light-slate);
    }
    /* Experience section */
    .expe {
        margin: 0vh 0vw 1vh;
        position: relative;
        min-height: 100vh;
        width: 100%;
        padding: 15vh 11vw 0;
    }
    .expe .head {
        text-align: center;
    }
    .expe .head h4 {
        text-align: center;
        font-size: 1.7rem;
        
    }
    .expe .line {
        width: 90%;
        left: 60%;
        top: 110%;
    }
    .content {
        padding: 10vh 0;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
    }
    .content::after {
        display: none;
    }
    .left {
        align-self: center;
    }
    .right {
        align-self: center;
    }
    .content .card {
        box-shadow: -3px -3px 1px rgba(255, 255, 255, 0.274), 3px 3px 1px rgba(0, 0, 0, 0.24);
    }
    .card h2 {
        font-size: var(--fz-l);
        color: var(--light-slate);
    }
    .card h4 {
        font-size: var(--fz-s);
    }
    
    .card {
        width: 100%;
        padding: 2vh 10vw;
        margin: 3vh 0 2vw 0;
        border-radius: 20px;
        background-color: var(--dark-navy);
        position: relative;
    
    }
    .left::after {
        display: none;
    
    }
    .right::after {
        display: none;
    
    }
    /* Projects */
.work {
    margin: 3vh var(--padding-main) 0;
    min-height: 100vh;
    position: relative;
}
.work .line {
    width: 50%;
    left: 65%;
}
 .head h4 {
    text-align: center;
    display: inline;
    width: 100%;
    
    
}
.gallery {
    margin: 5vh 0;
}
.card-ss {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5vh 3vw;
}
.img-ss {
    
    background-position: center;
    background-size: cover;

    background-repeat: no-repeat;
    background-color: #64ffdb2c;
    background-blend-mode:darken;
    width: 40vw;
    transition: 500ms;
    opacity: 0.9;
    height: 25vh;
    width: 80vw;
}
.img-ss:hover {
    background-color: #64ffdb02;
    opacity: 1;
}
.card-main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 80vw;
    min-height: 50vh;
    text-align: left;
    
    line-height: 1.2;
}
.card-main .green-line {
    font-size: 1rem;
    line-height: 2;
}
.card-main h2 {
    font-size: 1.9rem;
    color: var(--lightest-slate);
    text-align: center;
    
}
.box-ss {
    background-color: var(--light-navy);
    color: var(--light-slate);
    font-size: 0.1rem;
    z-index: 2;
    width: 100%;
    
}
.box-ss p {
    font-size: var(--fz-s);
    padding: 4vh 3vh;
    text-align: center;
}

.work .btn {
    text-align: center;
    width: 100%;
    margin: auto ;
    font-size: var(--fz-s);
}
/* Hello Section */

.hello .head span {
    font-size: 1.5rem;
    white-space: nowrap;
    position: absolute;
    left: 12vw;
    top: -6vh;
}
.hello .line {
    width: 50%;
    left: 64%;
}
.msg {
    text-align: center;
    padding: 5vh 5vw;
}
.msg p {
    margin: 1vh 0;
}
.msg h2 {
    color: var(--white);
    word-spacing: 3px;
    font-size: 2.2rem;
    white-space: nowrap;
    text-align: center;
}

.hello .field, .form textarea {
    background-color: transparent;
    color: var(--green);
    width: 70vw;
    font-family: var(--font-mono);
    font-size: 1.2rem;
    border-radius: 3px;
    border: 1px solid var(--lightest-slate);
    margin: 2vh 0;
    padding: 2vh 1vw;
}
footer {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
footer p{
    font-size: 0.6rem;
    text-align: center;
    pointer-events: none;
    font-family: var(--font-mono);
    white-space: nowrap;
}
}

